@import "../../App.scss";
@import "../../styles/colors.scss";

.track-list {
  display: flex;
  flex-direction: column;

  .track-wrapper,
  .track-header {
    display: flex;
    flex-direction: row;
    cursor: default;

    p {
      // font-weight: bold;
      margin: 0.2em 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // make text unselecteble
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
  }
  .track-wrapper:hover {
    background-color: #ffffff11;
  }
  .track-meta-wrapper {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    h3 {
      margin: 0.1em 0.4em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // make text unselecteble
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
    p {
      font-weight: bold;
      margin: 0.2em 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // make text unselecteble
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
  }
  .track-item {
    align-self: center;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .track-item-last {
    margin-right: 1em;
  }
  .track-item-1-2 {
    width: 50%;
  }
  .track-item-1-4 {
    width: 25%;
  }
  .current-track {
    color: $red;
  }
}
