@import "../App.css";

.audio-player {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .playlist-wrapper {
    padding: 1em;
    margin-bottom: 54px;

    .playlist-input-wrapper {
      display: flex;
      flex-direction: row;
      .button-wrapper {
        padding: 0 1em;
        button {
          padding: 1em;
        }
      }
      .checkboxes-wrapper {
        padding: 0 1em;
        align-self: center;

        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        // make text unselecteble
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        .checkbox-wrapper {
          padding: 0.2em;
          input {
            margin: 0;
            margin-right: 0.2em;
            vertical-align: bottom;
          }
        }
      }
    }

    .song-list {
      padding-top: 1em;
      display: flex;
      flex-direction: column;
      .song-wrapper {
        font-size: 0.7em;
        border: 1px solid white;
        p {
          align-self: center;
          text-align: left;
          padding: 0 1em;

          // make text unselecteble
          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE10+/Edge */
          user-select: none; /* Standard */
        }
      }
      .current-song {
        color: red;
      }
    }
  }

  .player-wrapper {
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
