@import "../App.css";

.playlist-menu {
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  .playlist-wrapper {
    font-size: 1em;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;

    h3 {
      //padding: 0.2em 0.5em;
      margin: 0.1em 0.4em;

      // make text unselecteble
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
    p {
      font-weight: bold;
      //padding: 0.2em 0.5em;
      margin: 0.2em 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // make text unselecteble
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
    }
  }
  .selected-playlist {
    color: lightsalmon;
  }
  .current-playlist {
    color: red;
  }
}
